/* pick a nice background-color, font-family, color, font-size and line-height for the <body>. Setting these font rules
at the body-level will apply them on all basic text tags (<p>, <li>, etc.). */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,100&family=Poppins:wght@200;300;400;500;600&display=swap');

h1 {
  font-size: 30px;
  margin: 32px;
  color: #455c4a;
}

body {
  background-color: #EFEAD8;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 800px;        /* Set the width */
  margin: 0 auto;      /* Set automatic margins on right/left */
}

p {
  color: rgba(0, 0, 0, 0.661)
}

.intro-text {
  margin-bottom: 20px;
}

.btn-green {
  text-decoration: none;
  background-color : #5F7161;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.btn-green:hover {
  background-color:#263328
}

#profile-round {
  border-radius: 225px;
  width: 550px;
  margin: 32 auto;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  padding-top: 16px;
}
.socials {
  color: black;
  font-size: 50px;
  padding: 16px;
  margin: 12px 16px;
}

.socials:hover {
  color: #6D8B74;

}

.main {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  background-color: #f3f0ec;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  width: 800px;
  margin: 20px 0px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 24px;
}

.section > h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #374a3b;
}

.bootstrap.card {
  width: 300px;        /* Set the width */
  margin: 20px auto;
  padding: 10px;
}

.card-img-top {
  width: 80%;
  padding-top: 24px;
  border-radius: 8px;
  margin: 5px auto;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
